body {
  background-color: rgb(230, 230, 230);
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  line-height:
}

h1, h2, h3 {
  color: #FF8F56;
  font-weight:
  font-family: 'Roboto', sans-serif;
  font-size: 20px ;
  font-weight: lighter;
}

h1 {
  color: darkseagreen;
  font-weight: bold;
}

p {
  color: darkgrey;
  font-weight: 100;
}

a {
  color: #C0C5CD;
  text-decoration: none ;
}

a:hover {
  color: green;
}

.container {
    width: 740px;
    margin: 0 auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 2%;
}

#profile-pic {
  border-radius: 150%;
  height: 250px;
  width : 250px;
}

#banner{
background-image: /*url("image/wagon.png")*/;
background-repeat: no-repeat;
background-size: cover;

}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.texte-box {
  border: 1px dotted #FF8F56;
  border-radius: 5px ;
  margin: 0 auto;

}

.btn.btn-outline-success{
  /*width: 50px;*/
  color: #FF8F56;
  font-family: 'Open Sans', sans-serif;
  border-color: lightgrey;
  background-color: white;
  font-weight: lighter;
  height: 40px;
  width: 150px;
  border-radius: 3%;
}

table {
  border-collapse: separate;
  border-spacing: 0.5em;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
